* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
 
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f283b6ff;
}

nav .burger {
  font-size: 20px;
  color: red;
  display: none;
}
nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color:darkgray;
  cursor:pointer;
}

nav .logo:hover {
  border-bottom: 2px solid darkblue;
}


nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
  font-size: 25px;
}

nav .nav-links a {
  font-size: 18px;
  font-weight: normal;
  color: red;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 2px solid darkblue;
}

#footer {
  position:absolute;
  bottom:10px; 
  width:100%; 
  height:60px;   /* Height of the footer */
  background: #f283b6ff;
  text-align: center;
}
#footer p {
  background-color: #f283b6ff;
  padding-bottom: 10px;
  text-align: center;
}


@media all and (max-width: 768px) {
  nav .burger {
    display: block;
    cursor: pointer;
  }

  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background: lightpink;
    padding:  50px 20px;
    
    width: 30%;
    transform: translateX(-500px);
    transition: 0.5 s ease-in-out;
  }

  nav .nav-links li {
    padding: 20px;
    border-bottom: 1px solid blue;
  }

  nav .nav-links li :last-of-type {
    border-bottom: 0px solid blue;
  }

  nav .nav-links a:hover {
    border-bottom: 0px solid blue;
  }
  nav .logo {
    padding: 10px;
    margin-left: 90px;
  }
}