*  {
  /* margin: auto; */
  padding: 0;
  box-sizing: border-box;
  

}

html {
  height: 100%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  color: #233f95;

}

h5 {
  font-weight: bolder;
  color: #281528;
}

li {
  list-style-type: none;
 
}

a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fadbe3;
}

nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color:darkgray;
  cursor:pointer;
}

nav .logo:hover {
  border-bottom: 2px solid darkblue;
}


 /* .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
  font-size: 25px;
} */
.nav-links a {
  font-size: 18px;
  font-weight:bolder;
  color: #e74b72;
  cursor: pointer;
}
p {
  color: #331650;
  font-weight: bolder;
}
.nav-links a:hover {
  border-bottom: 2px solid darkblue;
}

.mb-5 {
  text-align: center;
}

#footer {
  position: relative; 
  padding-top:5px; 
  margin-top: auto;
  width: 100%; 
  /* Height of the footer*/  
  height: 60px; 
  text-align: center;
  background-color: #fadbe3;
  bottom:0;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./assets/images/background2.jpg)
}
.content-wrap {
  flex: 1;
}


@media all and (max-width: 768px) {
  
  }

  
  #contact-form {
    justify-content: center;
    margin: 20px;
    margin-left: 10em;
    margin-right: 10em;
  } 
  label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: #f283b6ff;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button[disabled] {
    cursor: default;
    opacity: 0.8;
  }

  input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid #e8c5e4;
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
  }
  
  input:focus {
    border: 1px solid #b78fb3;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }

  #about-section {
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 20px;
  }
  
  form {
    width: 40%;
  }

  textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
  }

  .card {
    background-color: #b4e1f9;
    border-radius: 5px;
    height: 400px;
    margin: 2rem;
    position: relative;
    width: 400px;
    box-shadow: #bf1363;
  }
  
  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .card .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: #5b64ec;
  }
  
  .card .img-container img {
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #5b64ec;
  }
  
  .card .content {
    font-size: 18px;
    background-color: #5b64ec;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  #project-icon {
   
    padding: 5px;
  }
  
  .name{
    text-align: center;
  }
  #topics {
    font-size: small;
    font-style:inherit;
    color: #ad1f2f;    
  }
  
  #card-title {
    margin-top: 10px;
    color: #ad1f2f;
    text-shadow: #616c8b;
  }
  
  .wrapper {
    padding-top: 50px;
    justify-content: space-around;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    padding: 10px;
    align-content: flex-start;
  }